body{
    margin: 0;
    color: #5f86c4;
    text-align: center;
    font-family: "Orbitron", sans-serif;

}

#hero{
    background-image: url("galaxy.gif");
    background-size: cover;
    padding: 10px 0px 40px 0px;

}

h1{
    text-shadow: 5px -5px 4px black;
}

.btn{
    font-size: 20px;
    padding: 6px 12px;
    border-radius: 15px;
    border: none;
    background-color: white;
    font-family: inherit;
    color: #5f86c4;
    font-weight: bold;
    margin-top: 20px;
    
}

.underline{
    border-bottom: solid 4px white;
}

#main-logo{
    width: 150px;
    color: white;
}

#terms{
    font-weight: bold;
}
