.main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align:center;

}

.logo-image {
    display: block;
    width: 300px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.search-input{
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding-top: 10px;
    line-height: 24px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #dfe1e5;
}

.btn-wrapper{
    display: flex;
    justify-content: center;
    
}
.logo-button{
    margin-top: 5px;
    margin-left: 4px;
    margin-right: 4px;
    border: none;
    border-radius: 5px;
    background-color: rgb(240, 235, 235);
    font-size: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 6px;
    padding-bottom: 6px;

}