@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Orbitron:wght@400..900&display=swap');
body{
    font-family: "Happy Monkey", system-ui;
    text-align: center;
    color: white;
    background-color: #a2d2ff;
    display: flex;
    align-items: center;
    flex-direction: column;
}


h1, h2, h3, h4, p{
  
    text-shadow: 0px 0px 1px black;
}
#age, #date{
    background: #EFB0C9;
}

#main-img{
    width: 150px;
    border: solid 5px #EFB0C9;
    border-radius: 50%;
    
}

#header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#age{
    padding: 5px 10px;
    border-radius: 5px;
    margin: 15px 0 10px 0
}

#date{
    border-radius: 5px;
    padding: 8px;
    margin-top: 0px;
}

.gift-img{
    width: 710px;
    height: 300px;
    margin-top: 10px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url(gift-cover.jpg);
    background-size:cover;
}

.gift-section{
    margin-top: 15px;
}

.gift-img:hover{
    background-image: url(hbd.gif);
    width: 1000px;
    height: 900px;
    background-size: cover;
}