body{
    margin: 20px;
    font-family:'Times New Roman', Times, serif;
}


.card{
    display: flex;
    background-color: #ddebf8;
    color: #2b2839;
    justify-content: space-around;
    width: 400px;
    height: 200px; 
    padding: 20px;
    margin: 0 auto;
    border-bottom: 6px solid #d8cefe;
}

.img-card{
    width: 100px;
    align-self: center;


}

.text-card{
    text-align: center;
    font-size: 17px;
}

p{
    font-size: 18px;
}